<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link href='/static/css/bootstrap-grid.min.css' rel='stylesheet'>
	<link href='/static/css/all.css' rel='stylesheet' />
	<link href='/static/css/login.css' rel='stylesheet'/>

</head>
<body>
	<img src='/static/images/background.jpg' />
	<form class='col-7 col-lg-5 col-md-6' method='post'>
		<div class='short-text'>
			<p>Connect and Chat</p>
			<div class='login-inputs'>
				<input type='hidden' name='csrf-token' value='{{csrf_token}}'/>
				<input type='text' name='username' placeholder="username">
				<input type='password' name='password' placeholder="password">
				<div class='d-flex'>
					<div class='gender'>
						<input type='radio' name='gender' value='male'><span>Male</span>
					</div>
					<div class='gender'>
						<input type='radio' name='gender' value='female'><span>Female</span>
					</div>
				</div>
				<input type='submit' value='Send' />
			</div>
		</div>
		<footer>
			<span> Messages are not saved </span>
		</footer>
	</form>
</body>
</html>